<!DOCTYPE html>

<html>
    
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <Title>Polities of the World</Title>
        
        <link rel=stylesheet href="libs/normalize.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="styles/styles.css" type="text/css">
        <link rel="stylesheet" href="styles/fonts.css" type="text/css">
<!--        <link rel="stylesheet" href="libs/uikit.min.css" type="text/css">-->

    </head>
    
    <body>
        
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        
        <div id="page">
            
        <div id="debug" v-if="showDebug">
            <div class="debugX">X</div> 
            <div>currentPolity: {{currentPolity}}</div>
            <div>currentStat: {{currentStat}}</div>
            <div>currentView: {{currentView}}</div>
<!--            <div>content: {{content}}</div>-->
<!--            <div>currentPolityInfo: {{currentPolityInfo}}</div>-->
<!--            <div>currentStatType: {{currentStatType}}</div>-->
<!--            <div>currentStatsInfo: {{currentStatsInfo}}</div>-->
<!--            <div>currentStatsInfoFormatted: {{currentStatsInfoFormatted}}</div>-->
<!--            <div>schema: {{schema}}</div>-->
<!--            <div id="stats">Sorted polities: {{sortedPolities}}</div>-->
<!--            <div>Polity pairs: {{polityPairs}}</div>-->
        </div>
            
        <div id="content">
            <div id="left" v-bind:class="['column', 'side', {'narrow-hide': currentView!='polities'}]">
                <div class="upper left" id="upper-left">
                    <div class="pane-header">
                        <div id="polity-back">
                            <span id="polity-back-text" class="actionable" v-on:click="polityBack">&#8592; All Polities</span>
                        </div>
                        <h2 id="polity-pane-title">{{polityPaneTitle}}</h2>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="middle left" id="middle-left">
                    <ol id="polity-list">
                        <li :class="'polity actionable ' + polity" v-for="polity in polities" v-on:click="politySelect(polity)">
                            {{content[polity].name}}
                        </li>
                    </ol>
                    <ol id="polity-info">
                        <div v-for="statSection in orderedStatSections">
<!--                            <h4>{{statSection}}</h4>-->
                            <li v-for="stat in stats" v-if="currentPolityInfo[stat] && schema[stat].section==statSection">
                                <h3>
                                    <span v-bind:class="['item', 'actionable', {selected: currentStat==stat}]" v-on:click="statSelect(stat)">
                                        {{schema[stat]["title"]}}
                                    </span>
                                </h3>
                                <div>
                                    {{currentPolityInfoFormatted[stat]}}
                                </div>
                            </li>
                        </div>
                    </ol>
                </div>
                <div class="lower left" id="lower-left">
                    <div id="links-list">
<!--                        <img id="info" class="icon" src="images/info.png"/>-->
<!--
                        <a href="#">
                            <img id="logo" class="icon" src="images/icon.png"/>
                        </a>
-->
                        <a target="_blank" href="https://github.com/agorischek/polities-of-the-world">
                            <img id="wordmark" class="wordmark" src="images/wordmark.png"/>
                        </a>
<!--
                        <a href="https://github.com/agorischek/polities-of-the-world" target="_blank">
                            <img id="source" class="icon" src="images/source.png"/>
                        </a>
-->
                    </div>
                </div>
            </div>
            <div id="center" v-bind:class="['column', {'narrow-hide': currentView!='map'}]">
                <div class="middle" id="middle-center">
<!--                    <div id="map-pane">-->
                        <div id="map"></div>
<!--                    </div>                -->
                </div>    
            </div>
            <div id="right" v-bind:class="['column', 'side', {'narrow-hide': currentView!='stats'}]">
                <div class="upper right" id="upper-right">
                    <div class="pane-header">
                        <div id="stats-back">
                            <span id="stats-back-text" class="actionable" v-on:click="statBack">All Stats &#8594;</span>
                        </div>                
                        <h2 id="stats-pane-title">{{statsPaneTitle}}</h2>
                        <div id="stats-pane-modifier" class="modifier"></div>
                        <div class="divider"></div>
                    </div>
                </div>
                <div class="middle right" id="middle-right">
                    <ul id="stats-list">
                        <li v-for="statSection in orderedStatSections">
                            <ul>
                                <h3>
                                    <span class="item">
                                        {{statSection}}   
                                    </span>
                                </h3>
                                <li v-for="stat in stats" v-if="schema[stat].section==statSection" v-on:click="statSelect(stat)" :class="'actionable stat stat-' + stat">
                                    <span class="item">
                                        {{schema[stat].title}}
                                    </span>
                                </li> 
                            </ul>
                        </li>                    
                    </ul>
                    <ol id="stats-info">
                        <li :class="'stat'" v-for="polity in polities" v-if="currentStatsInfo[polity]">
                            <h3>
                                <span v-bind:class="['item', 'actionable', {selected: currentPolity==polity}]" v-on:click="politySelect(polity)">
                                    {{content[polity].name}}
                                </span>
                            </h3>
                            <div>
                                {{currentStatsInfoFormatted[polity]}}
                            </div>
                        </li>
                    </ol>
                </div>
                <div v-bind:class="{hidden: currentStat == 'all'}" class="lower right" id="lower-right">
                    <div id="stats-source"></div>
                </div>
            </div>
        </div>
            
        <div id="nav">
            <div v-bind:class="['nav-item', {'current-nav':currentView=='polities'}]" v-on:click="currentView = 'polities'" id="polities-nav">
                Polities
            </div>
            <div v-bind:class="['nav-item', {'current-nav':currentView=='map'}]" v-on:click="currentView = 'map'" id="map-nav">
                Map
            </div>
            <div v-bind:class="['nav-item', {'current-nav':currentView=='stats'}]" v-on:click="currentView = 'stats'" id="stats-nav">
                Stats
            </div>    
        </div>
            
    </div>        
        
    <script src="strings/en.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.4/numeral.min.js"></script>
    <script src="libs/datamaps.world.hires.js"></script>
    <script src="libs/papaparse.min.js"></script>
    <script src="scripts/utilities.js"></script>
    <script src="libs/elementory.min.js"></script>
    <script src="settings.min.js"></script>    
    <script src="libs/underscore.js"></script>
    <script src="libs/underscore.string.min.js"></script>        
    <script src="scripts/scripts.js"></script>
    <script src="libs/uikit.min.js"></script>
    <script src="libs/uikit-icons.min.js"></script>
        
    </body>
    
</html>